body {
  margin: 0;
  height: 100dvh;
  display: grid;
  align-content: space-evenly;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

*:focus {
  outline: 1px solid blue;
}

h1 {
  font-size: 5rem;
  font-weight: 100;
  margin: 0;
  color: rgb(170, 170, 170)
}

button {
  background-color: #747474;
  transition: 400ms;
  color: #eee;
  border-radius: .2rem;
  padding: 1rem;
  border: none;
}

button:hover {
  background-color: #444;
}

.todo-card {
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  border: 2px solid #c2c2c2;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px rgba(50, 50, 50 .9);
  max-width: 600px;
  width: 50dvw;
  min-width: 300px;
  max-width: 800px;
  margin: auto;
  padding: 2rem;
}

.input-form {
  display: grid; 
  grid-template-columns: 1fr 1.3fr 0.7fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 10px 25px;
  align-items: end;
  grid-template-areas: 
    "label label label"
    "input input button"
}

.input-form input, .input-form button {
  padding: 10px;
}

input[type="text"] {
  border-radius: .4rem;
  border: 1px solid rgb(190, 190, 190);
}

input[type="text"]:focus, input[type="text"]:active {
  outline: 1px solid blue;
  border: 1px solid rgba(0,0,0,0);
}

.input-form label {
  grid-area: label;
  font-weight: 800;
}
.input-form input {
  grid-area: input;
}
.input-form button {
  grid-area: button;
}

input[type="checkbox"] {
  padding: 1rem;
  
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  vertical-align: bottom;
}

li button {
  width: 55px;
  height: 40px;
  margin-left: 1rem;
  background: none;
  border:none;
  color: gray;
  border: 1px solid gray;
}

li button:hover {
  background: red;
  color: white;
  border: 1px solid transparent;
  font-weight: 700;
}

li label {
  display: grid !important;
  grid-template-columns: auto 1fr;
  align-items: center;
}

/* Checkbox 24 CSS by Pawel Durczok from https://getcssscan.com/css-checkboxes-examples */

  .checkbox-wrapper-24 {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }

  .checkbox-wrapper-24 label {
    display: inline-block;
    color: #333;
    cursor: pointer;
    position: relative;
  }
  .checkbox-wrapper-24 label span {
    display: inline-block;
    position: relative;
    background-color: transparent;
    width: 25px;
    height: 25px;
    transform-origin: center;
    border: 2px solid #333;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
    transition: background-color 150ms 200ms, transform 350ms cubic-bezier(0.78, -1.22, 0.17, 1.89);
  }
  .checkbox-wrapper-24 label span:before {
    content: "";
    width: 0px;
    height: 2px;
    border-radius: 2px;
    background: #333;
    position: absolute;
    transform: rotate(45deg);
    top: 13px;
    left: 9px;
    transition: width 50ms ease 50ms;
    transform-origin: 0% 0%;
  }
  .checkbox-wrapper-24 label span:after {
    content: "";
    width: 0;
    height: 2px;
    border-radius: 2px;
    background: #333;
    position: absolute;
    transform: rotate(305deg);
    top: 16px;
    left: 10px;
    transition: width 50ms ease;
    transform-origin: 0% 0%;
  }
  .checkbox-wrapper-24 label:hover span:before {
    width: 5px;
    transition: width 100ms ease;
  }
  .checkbox-wrapper-24 label:hover span:after {
    width: 10px;
    transition: width 150ms ease 100ms;
  }

  .checkbox-wrapper-24 input[type=checkbox] {
    display: none;
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label span {
    background-color: #333;
    transform: scale(1.25);
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label span:after {
    width: 10px;
    background: #fff;
    transition: width 150ms ease 100ms;
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label span:before {
    width: 5px;
    background: #fff;
    transition: width 150ms ease 100ms;
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label:hover span {
    background-color: #333;
    transform: scale(1.25);
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label:hover span:after {
    width: 10px;
    background: #fff;
    transition: width 150ms ease 100ms;
  }
  .checkbox-wrapper-24 input[type=checkbox]:checked + label:hover span:before {
    width: 5px;
    background: #fff;
    transition: width 150ms ease 100ms;
  }
